.hero {
    max-width: 990px;
    &__logo {
        width: 180px;
        @media screen and (min-width: 768px) {
            width: 100px;
        }
    }
    &__qr{
        width: 108px;
        height: 108px;
        min-width: 108px !important;
    }
    @media screen and (min-width: 992px) {
        padding: 90px 0 50px 0;
    }
    &__mockup {
        @media screen and (max-width: 768px) {
            margin-top: 50px;
        }
        @media screen and (min-width: 992px) {
            width: 341px !important;
            height: 622px;
        }
    }
    &.unknown {
        .hero__download--unknown {
            display: flex !important;
        }
    }
    &.ios {
        .hero__download--ios {
            display: flex !important;
        }
    }
    &.android {
        .hero__download--android {
            display: flex !important;
        }
        .hero__mockup--ios{
            display: none !important;
        }
        .hero__mockup--android{
            display: block !important;
        }
    }
}
