.location {
    &__item {
        width: 100%;
        overflow: hidden;
        @media screen and (max-width: 768px) {
            &:not(:last-child) {
                max-height: 136px;
                min-height: 136px;
            }
        }
        @media screen and (min-width: 768px) {
            width: calc(33.3% - 20px);
        }
    }
}
