.steps {
    &__noise {
        width: 215px;
        height: 150px;
        z-index: -1;
    }
    &.unknown {
        .steps__download--unknown {
            display: flex !important;
        }
    }
    &.ios {
        .steps__download--ios {
            display: flex !important;
        }
    }
    &.android {
        .steps__download--android {
            display: flex !important;
        }
    }
}
