html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 0;
  font-weight: bold;
  font-family: 'Nunito Sans', sans-serif;
}

hr {
  border-color: #e6e6e6;
  background: #e6e6e6;
}

svg:not(.svg-no-prefill) {
  * {
    fill: currentColor;
  }
}

input::-webkit-input-placeholder {
  color: gray;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: gray;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: gray;
}

input:-ms-input-placeholder {
  color: gray;
}
