
/** Tagungshotel CSS Variables **/
:root {
  /** gold **/
  --color-primary: #FFB838;
  --color-primary-rgb: 56, 128, 255;
  --color-primary-contrast: #ffffff;
  --color-primary-contrast-rgb: 255, 255, 255;
  --color-primary-shade: #FFB838;
  --color-primary-tint: #FFB838;

  /** green  **/
  --color-secondary: #00AC94;
  --color-secondary-rgb: 61, 194, 255;
  --color-secondary-contrast: #ffffff;
  --color-secondary-contrast-rgb: 255, 255, 255;
  --color-secondary-shade: #00AC94;
  --color-secondary-tint: #00AC94;

  /** tertiary **/
  --color-tertiary: #2B2B2B;
  --color-tertiary-rgb: 82, 96, 255;
  --color-tertiary-contrast: #ffffff;
  --color-tertiary-contrast-rgb: 255, 255, 255;
  --color-tertiary-shade: #2B2B2B;
  --color-tertiary-tint: #2B2B2B;

  /** success **/
  --color-success: #509e2f;
  --color-success-rgb: 45, 211, 111;
  --color-success-contrast: #ffffff;
  --color-success-contrast-rgb: 255, 255, 255;
  --color-success-shade: #439122;
  --color-success-tint: #509e2f;

  /** warning **/
  --color-warning: #FFD700;
  --color-warning-rgb: 255, 196, 9;
  --color-warning-contrast: #000000;
  --color-warning-contrast-rgb: 0, 0, 0;
  --color-warning-shade: #e0ac08;
  --color-warning-tint: #ffca22;

  /** danger **/
  --color-danger: #eb445a;
  --color-danger-rgb: 235, 68, 90;
  --color-danger-contrast: #ffffff;
  --color-danger-contrast-rgb: 255, 255, 255;
  --color-danger-shade: #cf3c4f;
  --color-danger-tint: #ed576b;

  --font-family: "Stratos";
  --ripple-color: transparent !important;
}
